@model WebApplication.Models.Produto.ProdutoViewModel

@{
	ViewBag.Title = "Produto";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
	@Scripts.Render("~/Scripts/Produto/cadastro.js")
}

<h2>Incluir produto</h2>

@Html.Partial("_Cadastro", Model)